# Postgres
POSTGRES_USER=loomhash
POSTGRES_PASSWORD=password
POSTGRES_DB=loomhash

# Redis
# Leave empty for no password, or set one for production
REDIS_PASSWORD=

# App specific
API_PORT=8000
DASHBOARD_PORT=80
